@import url('https://fonts.googleapis.com/css?family=Enriqueta:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

html {
  font-size: var(--base-font-size);
}

@media only screen and (max-width: 1264px) {
  p {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button,
table {
  font-family: 'Enriqueta', serif;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}
